* {
    box-sizing: border-box;
}

.slider {
    width: 300px;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

body {
    font-family: helvetica, sans;
    background: #FFF;
}

.navigation {
    width: 100%;
}

.navigation ul {
    overflow: hidden;
}

.navigation ul li {
    display: inline;
}

.navigation ul li a {
    display: block;
    float: left;
    margin-top: 2em;
    margin-left: 2em;
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    background-color: #333;
    padding: 0.6em;
    border: 2px solid #111;
    border-radius: 0.6em;
}

.navigation ul li a:hover {
    background-color: #555;
}

.navigation ul li a:active {
    background-color: #111;
}

.row {
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

.slidecontainer {
    width: 300%;
    margin-left: -110%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    /* transitions */
    transition: margin-left 0.5s;
    -webkit-transition: margin-left 0.5s;
    -moz-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
}

.slideable {
    width: 32%;
    padding-right: 0.66666%;
    padding-left: 0.66666%;
    border: none;
    margin: none;
    padding: none;
    float: left;
}

.content-block {
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    padding-bottom: 0.3em;
    border-bottom: 5px dashed #111;
}