@font-face {
    font-family: "Sixcaps";
    src: url("../font/SixCaps.ttf")
}

body {
    background: black;
    font-family: Sixcaps;
    color: blanchedalmond;
}

#container {
    color: white;
    padding: 0px;
    text-align: center;
    justify-content: center;
}

h2 {
    margin-top: 10%;
    height: 0px;
}

p {
    font-size: 200px;
    margin-top: 2%;
}

.main {
    position: absolute;
    background-image: url("../img/2.jpg");
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

.next {
    position: absolute;
    background-image: url("../img/9.jpg");
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}


/* carousel */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}